# -----BINS -----
ihsclox

# ----- Haskell -----
dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.locala
cabal.project.local~
.HTF/
.ghc.environment.*
.ghci

src/c/Compiler_stub.h

# ----- C -----
# Prerequisites
*.d

# Object files
*.o

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out

# Debug files
*.dSYM/

# ----- IDE -----
.vscode/

# ----- MISC -----
test/tests/test.hsclox
test/tests/test.stdout

# ---- PYTHON ----
__pycache__/
